{% extends 'main.html' %}

{% block content %}

<h1>Welcome to the Homepage</h1>

<a href="{% url 'create-technique' %}">New Technique</a>
<br>
<a href="{% url 'move-of-the-day' %}">Move of the Day</a>

<div class="home-containers">
    <div>
        <h3>Positions</h3>
        <hr>
        {% for position in positions %}
        <div>
            <a href="{% url 'position'  position.name %}">{{ position }}</a>
        </div>
        {% endfor %}
    </div>


    <div>
        <h3>Techniques</h3>
        {% for technique in techniques %}
        <div>
            <a href="{% url 'technique'  technique.name %}">{{ technique }}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}