{% extends 'main.html' %}

{% block content %}
<style>
    .home-containers{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
</style>

<h1>Welcome to the Homepage</h1>

<a href="{% url 'create-technqiue' %}">New Technique</a>


<div class="home-containers">
    <div>
        <h3>Positions</h3>
        <hr>
        {% for position in positions %}
        <div>
            <a href="{% url 'position'  position.name %}">{{ position }}</a>
        </div>
        {% endfor %}
    </div>


    <div>
        <h3>Techniques</h3>
    </div>
</div>
{% endblock %}