{% extends 'main.html' %}

{% block content %}

<center><h1><strong>Move of the Day!</strong></h1></center>

<h1>{{ technique.name }} from {{ technique.topBottom}} {{ technique.position }}</h1>


<div>
    <h3>Steps:</h3>
    <p>{{ technique.steps }}</p>

    <h3>Details:</h3>
    <p>{{ technique.details }}</p>

    <h3>Comments:</h3>
    <p>{{ technique.comments }}</p>

    <h3>Date Learned:</h3>
    <p>{{ technique.date }}</p>
</div>

<form action="" method="post">
    {% csrf_token %}
    <button type="submit" value="completed">Completed</button>
    {% if motd.completed %}
    <span>&#10003;</span>
    {% else %}
    <span>X</span>
    {% endif %}
</form>
{% endblock %}