{% extends 'main.html' %}

{% block content %}

<div>
    <div>
        <h1>{{ technique.name }} from {{ technique.topBottom}} {{ technique.position }}</h1>
        <a href="{% url 'update-technique' technique.id %}">Update</a>
        <a href="{% url 'delete-technique' technique.id %}">Delete</a>
        <hr>
    </div>    
       
    <div>
        <h3>Steps:</h3>
        <p>{{ technique.steps }}</p>

        <h3>Details:</h3>
        <p>{{ technique.details }}</p>

        <h3>Comments:</h3>
        <p>{{ technique.comments }}</p>

        <h3>Date Learned:</h3>
        <p>{{ technique.date }}</p>
    </div>

    {% if technique.video %}
    <div>
        <video width="320" height="240" autoplay="autoplay" controls="controls" preload="preload">
            <source src="{{ technique.video.url }}" type="video/mp4"></source>
        </video>
    </div>
    {% endif %}

</div>
{% endblock %}